.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* font  */

/*  */
.header-first {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.header-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-third {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  color: #404bbf;
  background-color: #404bbf;
}
.button:focus {
  color: #404bbf;
  background-color: #404bbf;
}
.section-first {
  background-color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.section-second {
  background: #2e2f42;
  font-family: "Roboto";
  font-size: 36p20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-third {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  background: #f4f4fd;

  border-style: solid;

  border-color: #e7e9fc;
}

.list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-item-second {
  background-color: #ffffff;
}
.footer {
  font-size: 36px;
  line-height: 1.11px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-hero {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph-hero {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* header  */
.span {
  color: #2e2f42;
  text-transform: uppercase;
}
.body {
  font-family: "roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  color: #f4f4fd;
}
.color-second {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.page-nav {
  background-color: #fff;
  display: flex;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #4d5ae5;
}
.adress {
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: hsl(237, 12%, 30%);
}
.adress-list {
  display: flex;
}
.adress link:hover {
  color: #404bbf;
}
.adress link:focus {
  color: #404bbf;
}

.header-nav {
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 1440px;
  height: 72px;
  display: flex;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}
.link:hover {
  color: #404bbf;
}
.link :focus {
  color: #404bbf;
}
.list-header-nav {
  margin: 0;
  padding: 40;
  justify-content: center;
  gap: 40px;
}
.list-nav {
  display: flex;
  list-style-type: none;
}
.logo {
  margin-top: 24px;
  margin-left: 156px;
  gap: 40px;
}
